
        <div class="page-data">
         <div class="data-btn">
             <a href="#!add_customer"> Add </a>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th width="120px">Action</th>
                </tr>
                <tr ng-repeat="customer in customers">
                    <th width="50px"> {{customer.id}} </th>
                    <th>{{customer.name}}</th>
                    <th>{{customer.address}}</th>
                    <th>{{customer.phone}}</th>
                    <th>{{customer.email}}</th>
                    <th width="120px"></th>
                </tr>                 
                
                
                              
                
            </table>
         </div>
        </div>